<h3>Listado de Usuarios</h3>

<div class="row">
    <div class="col">
       
  <table class="table" >
      <thead>
        <tr >
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Username</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
          {% for item in listado %}
        <tr >
          <th scope="row">{{item.id}}</th>
          <td>{{item.firstname}}</td>
          <td>{{item.lastname}}</td>
          <td>{{item.username}}</td>
          <td><a href="#" class="btn btn-outline-warning me-2">Detalle</a></td>
          <td> <a href="#" class="btn btn-outline-success me-2">Editar</a></td>
          <td> <a href="#" class="btn btn-outline-danger me-2">Eliminar</a></td>
        </tr>
          {% endfor %}
     
      </tbody>
    </table>
  
  